body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
}

.navbar .dark .right .search .users {
  background: #242526 !important;
}

.navbar .dark .right .search .users .user:hover {
  background: #3A3B3C !important;
}

.navbar .dark .right .search .users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #242526;
  border-radius: -2px;
  padding: 18px;
}

.navbar .dark {
  background-color: #18191A;
  color: white !important;
}
.navbar .dark .left ul .them {
  color: white;
}
.navbar .dark .left ul .them button {
  color: white !important;
}
.navbar .dark .left ul .user ul {
  background: #242526 !important;
  box-shadow: none !important;
}
.navbar .dark .left .notification .notification-list {
  background: #242526 !important;
  box-shadow: none !important;
}
.navbar .dark .right .searchPopup .search_popup .input input {
  background: #242526 !important;
  border: none !important;
}
.navbar .dark .right .searchPopup .users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #242526;
  border-radius: 6px;
  padding: 18px;
}
.navbar .dark .right .search input {
  background: #242526 !important;
  border: none !important;
}
.navbar .dark .right .search .users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #242526;
  border-radius: -2px;
  padding: 18px;
}
.navbar .dark .right .search .users .user {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9px;
  transition: 0.5s;
  cursor: pointer;
}
.navbar .dark .right .search .users .user img {
  width: 40px;
  border-radius: 50%;
}
.navbar .nav {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -52px 25px, rgba(0, 0, 0, 0.05) 0px -10px 10px;
  position: fixed;
  width: 100%;
  padding-left: 11px;
  z-index: 5;
  background: white;
}
.navbar .nav .right {
  display: flex;
  gap: 30px;
  padding-left: 20px;
}
.navbar .nav .right .searchPopup {
  display: lfex;
  flex-direction: column;
  gap: 20px;
}
.navbar .nav .right .searchPopup .search_popup {
  display: flex;
  gap: 15px;
  align-items: center;
}
.navbar .nav .right .searchPopup .search_popup .input input {
  border: 1px solid #f6f6f8;
  background: #fafafa;
  padding-left: 12px;
  border-radius: 8px;
  min-width: 250px;
  height: 38px;
  outline: none;
}
.navbar .nav .right .searchPopup .users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 18px;
  margin-left: 39px;
  width: 225px;
}
.navbar .nav .right .searchPopup .users .user {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9px;
  transition: 0.5s;
  cursor: pointer;
}
.navbar .nav .right .searchPopup .users .user img {
  width: 40px;
  border-radius: 50%;
}
.navbar .nav .right .searchPopup .users .user:hover {
  background-color: white;
}
.navbar .nav .right .logo {
  cursor: pointer;
}
.navbar .nav .right .logo h2 {
  color: #561bff;
}
.navbar .nav .right .search {
  position: relative;
}
.navbar .nav .right .search .users {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #d4d9e17a;
  border-radius: 6px;
  padding: 18px;
}
.navbar .nav .right .search .users .user {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 9px;
  transition: 0.5s;
  cursor: pointer;
}
.navbar .nav .right .search .users .user img {
  width: 40px;
  border-radius: 50%;
}
.navbar .nav .right .search .users .user:hover {
  background: white;
}
.navbar .nav .right .search input {
  border: 1px solid #f6f6f8;
  background: #fafafa;
  padding-left: 12px;
  border-radius: 8px;
  min-width: 350px;
  height: 38px;
  outline: none;
}
.navbar .nav .right .search span {
  position: absolute;
  right: 3%;
  top: 7px;
  color: #e4e5e9;
}
.navbar .nav .left {
  padding-right: 18px;
  display: flex;
  align-items: center;
}
.navbar .nav .left ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
.navbar .nav .left ul .likes_to {
  display: none;
}
.navbar .nav .left ul .them button {
  background: none;
  border: none;
  cursor: pointer;
}
.navbar .nav .left ul .user .information {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar .nav .left ul .user .information img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.dark .nav .right .search .users .user img {
  background: white !important;
}
.dark .left ul .user .information img {
  background: white !important;
}
.navbar .nav .left ul .user ul {
  flex-direction: column;
  position: absolute;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  padding-right: 5px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  right: 4%;
  top: 108%;
  width: 171px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: -3px;
  height: 140px;
  justify-content: center;
  background: white;
}
.navbar .nav .left ul .user ul li {
  transition: 0.6s;
  cursor: pointer;
  margin-left: -87px;
}
.navbar .nav .left ul .user ul .line {
  list-style: none;
  visibility: visible;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
  height: 1px;
  background: lightgray;
  margin-left: 4px;
}
.navbar .nav .left ul .user ul li:hover {
  color: #f9bc2d;
}
.navbar .nav .left ul .user .active {
  opacity: 1;
  visibility: visible;
}
.navbar .nav .left ul .notification {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}
.navbar .nav .left ul .notification .notification-list {
  flex-direction: column;
  position: absolute;
  gap: 12px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  padding-right: 5px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  right: 8%;
  top: 100%;
  width: 201px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: -3px;
  min-height: 106px;
  justify-content: center;
  background: white;
  padding-left: 10px;
  padding-bottom: 15px;
  padding-top: 13px;
}
.navbar .nav .left ul .notification .notification-list li {
  transition: 0.4s;
  padding-left: 5px;
  cursor: pointer;
}
.navbar .nav .left ul .notification .notification-list .line {
  list-style: none;
  visibility: visible;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
  height: 1px;
  background: lightgray;
  margin-left: -8px;
  width: 214px;
}
.navbar .nav .left ul .notification .notification-list li:hover {
  color: #f9bc2d;
}
.navbar .nav .left ul .notification .active {
  opacity: 1;
  visibility: visible;
}
.navbar .line {
  width: 100%;
  height: 2px;
  background-color: #fafafa;
}

@media (max-width: 800px) {
  .nav .right .search input {
    display: none;
  }
  .nav .right .search span {
    position: absolute;
    right: 3%;
    top: 9px;
    color: #e4e5e9;
    left: -20px;
    cursor: pointer;
  }
}
@media (max-width: 446px) {
  .nav .left ul .them {
    display: none;
  }
  .nav .right .logo h2 {
    font-size: 18px;
    margin-top: 4px;
  }
}
@media (max-width: 992px) {
  .nav .left ul .likes_to {
    display: block !important;
  }
}

/*# sourceMappingURL=nav_bar.css.map */
