@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Signika:wght@300;400;500;600&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
}

.dark {
  color: light;
  background-color: #111;
  .main .left form .input input {
    color: black !important;
  }
  .login_nav .links .buttons ul .them button {
    color: white !important;
  }
  .nav {
    .links {
      .buttons {
        ul {
          .them {
            button {
              color: white !important;
            }
          }
          .login {
            a {
              color: white !important;
            }
          }
        }
      }
    }
  }
  .main {
    .left {
      .title {
        h2 {
          color: white;
        }
      }
    }
  }
}

.login_container {
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 30px;
  height: 97.9vh;
  .login_nav {
    .links {
      display: flex;
      justify-content: space-between;

      .buttons {
        ul {
          display: flex;
          gap: 25px;

          .them {
            button {
              background: none;
              border: none;
              color: black;
            }
          }
          .login {
            a {
              text-decoration: none;
              color: #f9bc2d;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .logo {
    a {
      text-decoration: none;
      color: #561bff;
    }
  }
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    .title {
      h2 {
        color: #191e1d;
        font-size: 30px;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 25px;

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .input {
          .error {
            width: 410px;
            color: #f50e3a;
            padding-left: 11px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            margin-top: 17px;
            font-size: 15px;
            height: 36px;
            background-color: #000000;
          }
          input {
            border: none;
            background-color: #f4f4fa;
            border-radius: 7px;
            width: 400px;
            height: 45px;
            outline: none;
            padding-left: 20px;
          }
        }
      }
      .button {
        margin-left: 5px;
        button {
          background-color: #561bff;
          color: white;
          border: none;
          width: 138px;
          height: 45px;
          border-radius: 29px;
          font-size: 15px;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          transition: 0.4s;
        }
        button:hover {
          background-color: #f9bc2d;
        }
      }
    }
  }
}
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&family=Signika:wght@300;400;500;600&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Noto Sans", sans-serif;
}

.dark {
  color: light;
  background-color: #111;
  .nav {
    .links {
      .buttons {
        ul {
          .them {
            button {
              color: white;
            }
          }
          .login {
            a {
              color: white !important;
            }
          }
        }
      }
    }
  }
  .main {
    .left {
      .title {
        h2 {
          color: white;
        }
      }
    }
  }
}

.container {
  // padding-top: 17px;
  // padding-left: 30px;
  // padding-right: 30px;
  .logo {
    a {
      text-decoration: none;
      color: #561bff;
    }
  }
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      h2 {
        color: #191e1d;
        font-size: 30px;
      }
    }

    .left {
      display: flex;
      flex-direction: column;
      gap: 25px;

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .input {
          .error {
            width: 410px;
            color: #f50e3a;
            padding-left: 11px;
            display: flex;
            align-items: center;
            border-radius: 3px;
            margin-top: 17px;
            font-size: 15px;
            height: 36px;
            background-color: #000000;
          }
          input {
            border: none;
            background-color: #f4f4fa;
            border-radius: 7px;
            width: 400px;
            height: 45px;
            outline: none;
            padding-left: 20px;
          }
        }
      }
      .button {
        margin-left: 5px;
        button {
          background-color: #561bff;
          color: white;
          border: none;
          width: 138px;
          height: 45px;
          border-radius: 29px;
          font-size: 15px;
          text-align: center;
          font-weight: bold;
          cursor: pointer;
          transition: 0.4s;
        }
        button:hover {
          background-color: #f9bc2d;
        }
      }
    }
  }
}
@media(max-width: 1050px) {
  .login_container .right img {
    display: none;
  } 
}

@media(max-width: 455px) {
  .login_container .main .left form .input input {
    width: 350px;
  }
}

@media(max-width: 400px) {
  .login_container .main .left form .input input {
    width: 300px;
  }
}

@media(max-width: 415px) {
  .login_container .logo a {
    font-size: 12px;
  }
}